# Git 属性配置
# https://git-scm.com/docs/gitattributes

* text=auto eol=lf

# 源代码
*.astro text
*.css text
*.html text
*.js text
*.json text
*.md text
*.mjs text
*.ts text
*.tsx text
*.xml text
*.yml text
*.yaml text

# 配置文件
.* text
*.config.* text

# Shell 脚本
*.sh text eol=lf

# 二进制文件
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.otf binary
*.mp3 binary
*.mp4 binary
*.webm binary
*.pdf binary
